<div class="tab-pane spaceTab row" id="completed">
    <form class="frmCss1" novalidate="novalidate" id="frm_completed">
        <div class="col-sm-12">
            <div class="col-sm-12">
                <section>
                    <div class="greenBox">
                        <div class="greenMark"><img src="images/green-mark.png" width="30" height="30" alt="mark">&nbsp;Claim ID: <span id="completedClaimId"></span></div>
                        <p>
                            You have successfully created a Claim.<br>
                            <!--<span id="fname">You haven't uploaded any attachments!</span>-->
                        </p>
                        <div class="clear"></div>
                    </div>
                    <ul class="incUl">
                        <li class="veiwInc" onclick="CompletedView();" style="cursor: pointer;"><img src="images/inci-veiw.png" width="21" height="25" alt="img"><a href="#">View Claim</a></li>
                        <li class="veiwInc" onclick="CompletedEdit();" style="cursor: pointer;"><img src="images/inci-edit.png" width="21" height="25" alt="edit"><a href="#">Edit Claim</a></li>
                    </ul>
                    <div class="clear"></div>
                    <br>
                    <br>
                </section>
            </div>
        </div>
    </form>
</div>
