<div class="row">
    <div class="col-md-4">
        <label for="paymentCode" class="myLable">Payment Code</label>
        <select id="paymentCode" name="paymentCode" class="planeTextFild myselect">
            <option>Select 1</option>
            <option>Select 2</option>
            <option>Select 3</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <label for="paymentAmount" class="myLable">Amount </label>
        <input type="text" id="paymentAmount" name="paymentAmount" class="planeTextFild" />
    </div>
    <div class="col-md-4">
        <label for="precessDt" class="myLabel">Process Date</label>
        <input type="text" id="precessDt" name="precessDt" class="planeTextFild dtPCss" />
    </div>
    <div class="col-md-4">
        <label for="checkDt" class="myLabel">Check Date</label>
        <input type="text" id="checkDt" name="checkDt" class="planeTextFild dtPCss" />
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <label for="checkNo" class="myLable">Check Number </label>
        <input type="text" id="checkNo" name="checkNo" class="planeTextFild" />
    </div>
    <div class="col-md-4">
        <label for="paymentDes" class="myLable">Payment Description </label>
        <input type="text" id="paymentDes" name="paymentDes" class="planeTextFild" />
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <label for="fromDt" class="myLabel">From Date</label>
        <input type="text" id="fromDt" name="fromDt" class="planeTextFild dtPCss" />
    </div>
    <div class="col-md-4">
        <label for="throuDt" class="myLabel">Through Date</label>
        <input type="text" id="throuDt" name="throuDt" class="planeTextFild dtPCss" />
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <label for="payee" class="myLable">Payee </label>
        <input type="text" id="payee" name="payee" class="planeTextFild" />
    </div>
    <div class="col-md-4">
        <label for="irsNo" class="myLable">Payee IRS Number </label>
        <input type="text" id="irsNo" name="irsNo" class="planeTextFild" />
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <label for="preserveCode" class="myLable">Reserve Code</label>
        <select id="preserveCode" name="preserveCode" class="planeTextFild myselect">
            <option>Select 1</option>
            <option>Select 2</option>
            <option>Select 3</option>
        </select>
    </div>
    <div class="col-md-4">
        <label for="affReserve" class="myLable">Affects Reserve</label>
        <select id="affReserve" name="affReserve" class="planeTextFild myselect">
            <option>Select 1</option>
            <option>Select 2</option>
            <option>Select 3</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <label for="tier1Code" class="myLable">Tier 1 Rollup Code</label>
        <select id="tier1Code" name="tier1Code" class="planeTextFild myselect">
            <option>Select 1</option>
            <option>Select 2</option>
            <option>Select 3</option>
        </select>
    </div>
    <div class="col-md-4">
        <label for="tier2Code" class="myLable">Tier 2 Rollup Code</label>
        <select id="tier2Code" name="tier2Code" class="planeTextFild myselect">
            <option>Select 1</option>
            <option>Select 2</option>
            <option>Select 3</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <label for="voidDt" class="myLable">Void Date</label>
        <input type="text" id="voidDt" name="voidDt" class="planeTextFild" />
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <label for="address1" class="myLable">Address 1</label>
        <input type="text" id="address1" name="address1" class="planeTextFild" />
    </div>
    <div class="col-md-4">
        <label for="address2" class="myLable">Address 2</label>
        <input type="text" id="address2" name="address2" class="planeTextFild" />
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <label for="pcity" class="myLable">City</label>
        <input type="text" id="pcity" name="pcity" class="planeTextFild" />
    </div>
    <div class="col-md-4">
        <label for="pstate" class="myLable">State</label>
        <select id="pstate" name="pstate" class="planeTextFild myselect">
            <option>Select 1</option>
            <option>Select 2</option>
            <option>Select 3</option>
        </select>
    </div>
    <div class="col-md-4">
        <label for="zipCode" class="myLable">Zip Code</label>
        <input type="text" id="zipCode" name="zipCode" class="planeTextFild" />
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <label for="checkComment" class="myLable">Check Comment</label>
        <input type="text" id="checkComment" name="checkComment" class="planeTextFild" />
    </div>
    <div class="col-md-4">
        <label for="corrComment" class="myLable">Correction Comment</label>
        <input type="text" id="corrComment" name="corrComment" class="planeTextFild" />
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <label for="billAmount" class="myLable">Billed Amount</label>
        <input type="text" id="billAmount" name="billAmount" class="planeTextFild" />
    </div>
    <div class="col-md-4">
        <label for="disAmount" class="myLable">Discount Amount</label>
        <input type="text" id="disAmount" name="disAmount" class="planeTextFild" />
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <label for="pMethodDesc" class="myLable">Payment Method Description</label>
        <input type="text" id="pMethodDesc" name="pMethodDesc" class="planeTextFild" />
    </div>
    <div class="col-md-4">
        <label for="disAmount" class="myLable">Reserve Transaction Description</label>
        <input type="text" id="Text6" name="disAmount" class="planeTextFild" />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p class="bodyTextBig">You can upload any document related to this payment.  Click "browse" to select and upload files.</p>
        <div class="formInci1 noMar">
            <input name="upfile" id="File2" type="file" class="planeTextFild" />
        </div>
        <div class="formInciBigBt">
            <input name="upload1" id="Button4" type="button" value="Upload File" class="buttonNext" onclick="upload_file()">
        </div>
        <div class="clear"></div>
        <div id="Div4" class="custom_error" style="float: left;"></div>
        <div class="custom_error" id="Div5" style="float: right;"></div>
        <div class="uploadBox">
            <p class="uploadHead">Files</p>
            <table class="fullwidth" id='Table1'>
                <tr class="">
                    <td style="width: 8%;"></td>
                    <td style="color: rgb(98, 98, 98); font-size: 16px; padding: 4px 0; width: 92%;" class="tlalign whitebg">You haven't uploaded any attachments!</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-10"></div>
    <div class="col-md-1">
        <button type="button" class="buttonNext" data-dismiss="modal">Cancel</button></div>
    <div class="col-md-1">
        <button type="button" class="buttonNext" data-dismiss="modal">Save</button>
    </div>
</div>
