<div class="row">
    <div class="col-md-4">
        <label for="paymentCode" class="myLable">Payment Code</label>
        <select id="paymentCode" name="paymentCode" class="planeTextFild myselect">
            <option>Select 1</option>
            <option>Select 2</option>
            <option>Select 3</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <label for="paymentDt" class="myLable">Payment Date </label>
        <input type="text" id="paymentDt" name="paymentDt" class="planeTextFild" />
    </div>
    <div class="col-md-4">
        <label for="dtCheckRq" class="myLabel">Date Check Requested</label>
        <input type="text" id="dtCheckRq" name="dtCheckRq" class="planeTextFild dtPCss" />
    </div>
    <div class="col-md-4">
        <label for="checkNeedBy" class="myLabel">Check Needed By</label>
        <input type="text" id="checkNeedBy" name="checkNeedBy" class="planeTextFild dtPCss" />
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <label for="deliveryMethod" class="myLable">Delivery Method</label>
        <select id="deliveryMethod" name="deliveryMethod" class="planeTextFild myselect">
            <option>Select 1</option>
            <option>Select 2</option>
            <option>Select 3</option>
        </select>
    </div>
    <div class="col-md-4">
        <label for="deliverTo" class="myLable">Deliver To </label>
        <input type="text" id="deliverTo" name="deliverTo" class="planeTextFild" />
    </div>
    <div class="col-md-4">
        <label for="attention" class="myLable">Attention </label>
        <input type="text" id="attention" name="attention" class="planeTextFild" />
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <label for="noteOnCheck" class="myLabel">Note on Check</label>
        <input type="text" id="noteOnCheck" name="noteOnCheck" class="planeTextFild" />
    </div>
    <div class="col-md-4">
        <label for="draftNo" class="myLabel">Draft Number</label>
        <input type="text" id="draftNo" name="draftNo" class="planeTextFild" />
    </div>
    <div class="col-md-4">
        <label for="locProExpen" class="myLabel">Location Of Proposed Expenditure</label>
        <input type="text" id="locProExpen" name="locProExpen" class="planeTextFild" />
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <label for="payeeType" class="myLable">Payee/Provider Type</label>
        <select id="payeeType" name="payeeType" class="planeTextFild myselect">
            <option>Select 1</option>
            <option>Select 2</option>
            <option>Select 3</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <label for="address1" class="myLable">Address 1</label>
        <input type="text" id="address1" name="address1" class="planeTextFild" />
    </div>
    <div class="col-md-4">
        <label for="address2" class="myLable">Address 2</label>
        <input type="text" id="address2" name="address2" class="planeTextFild" />
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <label for="pcity" class="myLable">City</label>
        <input type="text" id="pcity" name="pcity" class="planeTextFild" />
    </div>
    <div class="col-md-4">
        <label for="pstate" class="myLable">State</label>
        <select id="pstate" name="pstate" class="planeTextFild myselect">
            <option>Select 1</option>
            <option>Select 2</option>
            <option>Select 3</option>
        </select>
    </div>
    <div class="col-md-4">
        <label for="zipCode" class="myLable">Zip Code</label>
        <input type="text" id="zipCode" name="zipCode" class="planeTextFild" />
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <label for="payeePhNo" class="myLable">Payee Phone Number </label>
        <input type="text" id="payeePhNo" name="payeePhNo" class="planeTextFild" />
    </div>
    <div class="col-md-4">
        <label for="irsNo" class="myLable">Payee IRS Number </label>
        <input type="text" id="irsNo" name="irsNo" class="planeTextFild" />
    </div>
    <div class="col-md-4">
        <label for="invoiceNo" class="myLable">Payee's Invoice Number </label>
        <input type="text" id="invoiceNo" name="invoiceNo" class="planeTextFild" />
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <label for="classification" class="myLable">Classification</label>
        <select id="classification" name="classification" class="planeTextFild myselect">
            <option>Select 1</option>
            <option>Select 2</option>
            <option>Select 3</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <label for="serStartDt" class="myLable">Service Start Date </label>
        <input type="text" id="serStartDt" name="serStartDt" class="planeTextFild" />
    </div>
    <div class="col-md-4">
        <label for="serEndDt" class="myLabel">Service End Date</label>
        <input type="text" id="serEndDt" name="serEndDt" class="planeTextFild dtPCss" />
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <label for="icd9Code" class="myLable">ICD9 Code</label>
        <input type="text" id="icd9Code" name="icd9Code" class="planeTextFild" />
    </div>
    <div class="col-md-4">
        <label for="cptCode" class="myLable">CPT Code </label>
        <input type="text" id="cptCode" name="cptCode" class="planeTextFild" />
    </div>
    <div class="col-md-4">
        <label for="jobDeptNo" class="myLable">Job/Dept Nubmer </label>
        <input type="text" id="jobDeptNo" name="jobDeptNo" class="planeTextFild" />
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <label for="activity" class="myLable">Activity</label>
        <input type="text" id="activity" name="activity" class="planeTextFild" />
    </div>
    <div class="col-md-4">
        <label for="hours" class="myLable">Hours </label>
        <input type="text" id="hours" name="hours" class="planeTextFild" />
    </div>
    <div class="col-md-4">
        <label for="gLedgerAccNo" class="myLable">General Ledger Account Number</label>
        <input type="text" id="gLedgerAccNo" name="gLedgerAccNo" class="planeTextFild" />
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <label for="accCode" class="myLable">Accounting Code</label>
        <input type="text" id="accCode" name="accCode" class="planeTextFild" />
    </div>
    <div class="col-md-4">
        <label for="auditComp" class="myLable">Billed Auditing Company </label>
        <input type="text" id="auditComp" name="auditComp" class="planeTextFild" />
    </div>
    <div class="col-md-4">
        <label for="paymentDesc" class="myLable">Payment Description</label>
        <input type="text" id="paymentDesc" name="paymentDesc" class="planeTextFild" />
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <label for="laborCost" class="myLable">Labor Cost</label>
        <input type="text" id="laborCost" name="laborCost" class="planeTextFild" />
    </div>
    <div class="col-md-4">
        <label for="purchaseCost" class="myLable">Purchase Cost </label>
        <input type="text" id="purchaseCost" name="purchaseCost" class="planeTextFild" />
    </div>
    <div class="col-md-4">
        <label for="taxRate" class="myLable">Tax Rate</label>
        <input type="text" id="taxRate" name="taxRate" class="planeTextFild" />
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <label for="totalCost" class="myLable">Total Cost</label>
        <input type="text" id="totalCost" name="totalCost" class="planeTextFild" />
    </div>
    <div class="col-md-4">
        <label for="amountOfExp" class="myLable">Amount Of Expenditure </label>
        <input type="text" id="amountOfExp" name="amountOfExp" class="planeTextFild" />
    </div>
    <div class="col-md-4">
        <label for="billedAmount" class="myLable">Billed Amount</label>
        <input type="text" id="billedAmount" name="billedAmount" class="planeTextFild" />
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <label for="difference" class="myLable">Difference</label>
        <input type="text" id="difference" name="difference" class="planeTextFild" />
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <label for="originator" class="myLable">Originator</label>
        <input type="text" id="originator" name="originator" class="planeTextFild" />
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <label for="treasurer" class="myLable">Treasurer/Controller</label>
        <input type="text" id="treasurer" name="treasurer" class="planeTextFild" />
    </div>
    <div class="col-md-4">
        <label for="deptHead" class="myLable">Department Head</label>
        <input type="text" id="deptHead" name="deptHead" class="planeTextFild" />
    </div>
    <div class="col-md-4">
        <label for="president" class="myLable">President</label>
        <input type="text" id="president" name="president" class="planeTextFild" />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p class="bodyTextBig">You can upload any document related to this payment.  Click "browse" to select and upload files.</p>
        <div class="formInci1 noMar">
            <input name="upfile" id="File2" type="file" class="planeTextFild" />
        </div>
        <div class="formInciBigBt">
            <input name="upload1" id="Button4" type="button" value="Upload File" class="buttonNext" onclick="upload_file()">
        </div>
        <div class="clear"></div>
        <div id="Div4" class="custom_error" style="float: left;"></div>
        <div class="custom_error" id="Div5" style="float: right;"></div>
        <div class="uploadBox">
            <p class="uploadHead">Files</p>
            <table class="fullwidth" id='Table1'>
                <tr class="">
                    <td style="width: 8%;"></td>
                    <td style="color: rgb(98, 98, 98); font-size: 16px; padding: 4px 0; width: 92%;" class="tlalign whitebg">You haven't uploaded any attachments!</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-10"></div>
    <div class="col-md-1">
        <button type="button" class="buttonNext" data-dismiss="modal">Cancel</button></div>
    <div class="col-md-1">
        <button type="button" class="buttonNext" data-dismiss="modal">Save</button>
    </div>
</div>
