<form id="frm_diaryNotes">
    <style type="text/css">
        #txt_DiaryNotes-error.error {
            margin-top: -17px;
        }

        #ddl_Category-error.error {
            margin-top: -17px;
        }

        #txt_FollowUp_Desc-error.error {
            margin-top: -19px;
        }

        span.errMsgLbl label {
            margin-top: -19px;
        }
    </style>
    <div id="createWc">
        <div class="col-md-11"></div>
        <div class="col-md-1">            
            <input type="button" class="buttonNext rightAlign" value="Add Note" onclick="btn_AddNote_OnClick(-1);">
        </div>
    </div>
    <div class="row"><div class="com-xs-12">&nbsp;</div></div>
    <div class="row">
        <div class="col-xs-12">
            <div id="claim_button" class="pull-right"></div>
        </div>
        <div class="col-xs-12" id="div_tbl">
            <div class="col-xs-5"></div>
            <div class="col-xs-2"><b>No Diary Notes Exist</b></div>
            <div class="col-xs-5"></div>
        </div>
    </div>
    <div class="row"><div class="com-xs-12">&nbsp;</div></div>
    <div id="nav_diaryNotes">
    </div>
</form>

